@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-once {
    animation: wave 1s ease-in-out;
  }
  .hover\\:animate-once:hover {
    animation: wave 1s ease-in-out;
  }
  .li-arrow {
    position: relative;
    padding-left: 1.5rem; /* Ajusta este valor según sea necesario */
  }
  .li-arrow::before {
    content: '➤'; /* Puedes cambiar este símbolo por cualquier otro que prefieras */
    position: absolute;
    left: 0;
    top: 0;
    color: var(--tw-text-opacity, #5CAF9F); /* Color de la flecha */
  }



}

